<!doctype html>
<html ng-app="myApp">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body ng-controller="myController">
    <div class="page-header">
        <div class="form-group">
        	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="30" ng-model="example" placeholder = "Например: барбос + бобик = собаки" >
        	<input type="button" value="Подставить!" ng-click="calc(example)">
        </div>
    </div>
    <div class="panel">

    	<table class="table table-striped">
			<thead>
		        <tr>
		        	<td>{{texts}}</td>
		        <tr>
		        	<td>{{letters}}</td>
			</thead>
			<tbody>
	            <tr ng-repeat="answer in answers">
	                <td>{{answer}}</td>
	            </tr>
	        </tbody>
        </table>
    </div>
 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
<script>

var myApp = angular.module("myApp", []);
    myApp.controller("myController", function ($scope) {
    $scope.answers = [];
	$scope.texts = "";
	$scope.letters = "";
    $scope.calc = function (example) {
    	//проверка верности примера

    	//Разобрать строку
    	var operation = ["*","/","+","-"];
		var notion = {example: "", answer: ""}

    	var regulars = [ 
    	/^[^=]*=[^=]*$/,
    	/([^ +\-\/*=]+|[+-\/*=])/g,
    	/([А-Яа-яA-Za-z])/g,
    	];


		// $scope.answers.push("Играем в аукцион честно!");
		// return 0;

 		if(regulars[0].test(example)){
			var words = example.match(regulars[1]);  
			var letters = example.match(regulars[2]);  
	 		var answers = [];
	 		for (l1 in letters)
		 		for (l2 in letters)
	 				if(l1 != l2 && letters[l1] == letters[l2])
	 					delete letters[l2];
	 		
			letters.sort();

			for (var length in letters){}
			letters.length = +length+1;

			if(letters.length>9){
				$scope.answers = ["В выражении больше 10 различных букв!"];
				return;
			}

			//Перебрать варианты
			count = Math.pow(10,letters.length);

			$scope.answers = [];

			$scope.texts = "";
			for(key in words){
				$scope.texts += words[key]+" ";
			}

			var alletters = "";
			for(var letter in letters){
				alletters += letters[letter]+", ";
			}
			$scope.letters = "В выражении "+letters.length+" букв: "+alletters;


			for(var i=0;i<count;i++){
				//готовим программу замены
				var replace = [];
				var doubles = 0;

				for(var j=0;j<letters.length;j++){
					pow = Math.pow(10,j);
					replace[j] = ((i-i%pow)%(pow*10))/pow;
					for(var k=0;k<j;k++)
						if(replace[k]==replace[j]){
							doubles = 1;
							break;
						}
					if(doubles) break;
				}
				if(doubles) continue;

				var lcount = 0, rcount = 0;
				var newwords = [];



				for(key in words){
			 		var word = words[key];
				 	if(/[^+-\/*=]+/.test(word)){
				 		word = 0;
				 		for(j=0;j<words[key].length;j++)
				 			word = word*10 + replace[letters.indexOf(words[key][j])];
			 		}
			 		newwords[key] = word;
			 	}

			 	while(newwords.length > 3){
				 	for(key in newwords){
				 		var word = newwords[key];
				 		if(/[+-\/*]+/.test(word)){
				 			if(!(typeof newwords[key-1] == "number") || !(typeof newwords[+key+1] == "number")){
								return;
							}
				 			if(word == "+")
			 					newwords[key-1] += newwords[+key+1];
				 			if(word == "-")
			 					newwords[key-1] -= newwords[+key+1];
				 			if(word == "*")
			 					newwords[key-1] *= newwords[+key+1];
				 			if(word == "/")
			 					newwords[key-1] /= newwords[+key+1];
			 				newwords.splice(key,2);
				 		}
				 	}
				}


			 	if(newwords[0]==newwords[2]){

			 		var answer = "";
					for(key in words){
				 		var word = words[key];
					 	if(/[^+-\/*=]+/.test(word)){
					 		word = 0;
					 		for(j=0;j<words[key].length;j++)
					 			word = word*10 + replace[letters.indexOf(words[key][j])];
				 		}
				 		newwords[key] = word;
				 	}
				 	for(key in newwords){
				 		answer = answer+newwords[key]+" ";
				 	}

			 		$scope.answers.push(answer)
			 	}
			}
		}
		$scope.answers.push("найдено решений: "+($scope.answers.length))

    }
});
</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter33446738 = new Ya.Metrika({
                    id:33446738,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/33446738" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>